# Screenshots & Media
Screenshot_*.jpg
Screenshot_*.png
*.tmp

# Miscellaneous
.DS_Store
Thumbs.db

# Flutter & Build Artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
*.iml

